@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
  font-family: 'Karla', sans-serif;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout  */
.container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}


.Blue-color {
  color: #0088ce;
}

.Flex {
  display: flex;
}

.Space-between {
  justify-content: space-between;
}

li {
  list-style: none;
  padding-right: 0.8rem;
}

