:root {
  --primary-color: #0088ce;
  --bg-primary: #E8F8FF;
}

@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
  font-family: 'Karla', sans-serif;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Elements */

a {
  text-decoration: none;
}

li {
  list-style: none;
  padding-right: 0.8rem;
}

button {
  border: none;
  text-transform: capitalize;
}


h1.hero-title {
  color: rgb(8, 62, 158);
  font-weight: 700;
  line-height: 42px;
  text-align: center;
}



/* Layout  */
.container {
  padding-left: 3.25rem;
  padding-right: 3.25rem;
}

.white-text {
  color: #FFF !important;
}

.blue-color {
  color: var(--primary-color);
}

.bg-primary {
  background: var(--bg-primary);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex.center {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.max-width {
  max-width: 100%;
  height: auto;
}

.menu {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.menu-items li a{
  color: rgb(31, 41, 55);
}

.menu-items li:hover {
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  background: #ccc;
}


.btn.blue-dark {
  background: var(--primary-color);
  color: white;
  border-radius: 5px 5px 5px 0px;
}

/* Utility classes */
.rounded {
  border-radius: 11px;
}

.bold {
  font-weight: bold;
}

.p-1 {
  padding: 0.2rem;
}

.p-2 {
  padding: 0.4rem;
}

.p-3 {
  padding: 0.8rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.5rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 4rem;
}

.py-4 {
  padding-top: 4rem;
}

.py-5 {
  padding-top: 5rem;
}

@media screen and (min-width: 960px) {

  .menu-items li {
    padding: 1rem 2rem;
    font-weight: 800;
    font-size: 14px;
    line-height: 21px;
  }

  .hero-image {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

}
